In [1]:
import pandas as pd
import numpy as np
import torch
from torch import optim, nn

In [2]:
df = pd.read_csv('data/train.csv')

In [3]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [6]:
for col, dtype in df.dtypes.items():
    print(f'{col=} has {dtype=}')

col='Id' has dtype=dtype('int64')
col='MSSubClass' has dtype=dtype('int64')
col='MSZoning' has dtype=dtype('O')
col='LotFrontage' has dtype=dtype('float64')
col='LotArea' has dtype=dtype('int64')
col='Street' has dtype=dtype('O')
col='Alley' has dtype=dtype('O')
col='LotShape' has dtype=dtype('O')
col='LandContour' has dtype=dtype('O')
col='Utilities' has dtype=dtype('O')
col='LotConfig' has dtype=dtype('O')
col='LandSlope' has dtype=dtype('O')
col='Neighborhood' has dtype=dtype('O')
col='Condition1' has dtype=dtype('O')
col='Condition2' has dtype=dtype('O')
col='BldgType' has dtype=dtype('O')
col='HouseStyle' has dtype=dtype('O')
col='OverallQual' has dtype=dtype('int64')
col='OverallCond' has dtype=dtype('int64')
col='YearBuilt' has dtype=dtype('int64')
col='YearRemodAdd' has dtype=dtype('int64')
col='RoofStyle' has dtype=dtype('O')
col='RoofMatl' has dtype=dtype('O')
col='Exterior1st' has dtype=dtype('O')
col='Exterior2nd' has dtype=dtype('O')
col='MasVnrType' has dtype=dtype('O')
col='MasVnrArea' has dtype=dtype('float64')
col='ExterQual' has dtype=dtype('O')
col='ExterCond' has dtype=dtype('O')
col='Foundation' has dtype=dtype('O')
col='BsmtQual' has dtype=dtype('O')
col='BsmtCond' has dtype=dtype('O')
col='BsmtExposure' has dtype=dtype('O')
col='BsmtFinType1' has dtype=dtype('O')
col='BsmtFinSF1' has dtype=dtype('int64')
col='BsmtFinType2' has dtype=dtype('O')
col='BsmtFinSF2' has dtype=dtype('int64')
col='BsmtUnfSF' has dtype=dtype('int64')
col='TotalBsmtSF' has dtype=dtype('int64')
col='Heating' has dtype=dtype('O')
col='HeatingQC' has dtype=dtype('O')
col='CentralAir' has dtype=dtype('O')
col='Electrical' has dtype=dtype('O')
col='1stFlrSF' has dtype=dtype('int64')
col='2ndFlrSF' has dtype=dtype('int64')
col='LowQualFinSF' has dtype=dtype('int64')
col='GrLivArea' has dtype=dtype('int64')
col='BsmtFullBath' has dtype=dtype('int64')
col='BsmtHalfBath' has dtype=dtype('int64')
col='FullBath' has dtype=dtype('int64')
col='HalfBath' has dtype=dtype('int64')
col='BedroomAbvGr' has dtype=dtype('int64')
col='KitchenAbvGr' has dtype=dtype('int64')
col='KitchenQual' has dtype=dtype('O')
col='TotRmsAbvGrd' has dtype=dtype('int64')
col='Functional' has dtype=dtype('O')
col='Fireplaces' has dtype=dtype('int64')
col='FireplaceQu' has dtype=dtype('O')
col='GarageType' has dtype=dtype('O')
col='GarageYrBlt' has dtype=dtype('float64')
col='GarageFinish' has dtype=dtype('O')
col='GarageCars' has dtype=dtype('int64')
col='GarageArea' has dtype=dtype('int64')
col='GarageQual' has dtype=dtype('O')
col='GarageCond' has dtype=dtype('O')
col='PavedDrive' has dtype=dtype('O')
col='WoodDeckSF' has dtype=dtype('int64')
col='OpenPorchSF' has dtype=dtype('int64')
col='EnclosedPorch' has dtype=dtype('int64')
col='3SsnPorch' has dtype=dtype('int64')
col='ScreenPorch' has dtype=dtype('int64')
col='PoolArea' has dtype=dtype('int64')
col='PoolQC' has dtype=dtype('O')
col='Fence' has dtype=dtype('O')
col='MiscFeature' has dtype=dtype('O')
col='MiscVal' has dtype=dtype('int64')
col='MoSold' has dtype=dtype('int64')
col='YrSold' has dtype=dtype('int64')
col='SaleType' has dtype=dtype('O')
col='SaleCondition' has dtype=dtype('O')
col='SalePrice' has dtype=dtype('int64')

In [7]:
df['MSSubClass'].unique().tolist()

[60, 20, 70, 50, 190, 45, 90, 120, 30, 85, 80, 160, 75, 180, 40]

In [9]:
from data_helpers import DataHelpers
csv_filepath = 'data/train.csv'

df = DataHelpers.make_data(csv_filepath)
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [12]:
len(df)

1460

In [15]:
col = 'LotFrontage'

unique_vals = df[col].unique().tolist()
print(unique_vals)
print(len(unique_vals))

[65.0, 80.0, 68.0, 60.0, 84.0, 85.0, 75.0, nan, 51.0, 50.0, 70.0, 91.0, 72.0, 66.0, 101.0, 57.0, 44.0, 110.0, 98.0, 47.0, 108.0, 112.0, 74.0, 115.0, 61.0, 48.0, 33.0, 52.0, 100.0, 24.0, 89.0, 63.0, 76.0, 81.0, 95.0, 69.0, 21.0, 32.0, 78.0, 121.0, 122.0, 40.0, 105.0, 73.0, 77.0, 64.0, 94.0, 34.0, 90.0, 55.0, 88.0, 82.0, 71.0, 120.0, 107.0, 92.0, 134.0, 62.0, 86.0, 141.0, 97.0, 54.0, 41.0, 79.0, 174.0, 99.0, 67.0, 83.0, 43.0, 103.0, 93.0, 30.0, 129.0, 140.0, 35.0, 37.0, 118.0, 87.0, 116.0, 150.0, 111.0, 49.0, 96.0, 59.0, 36.0, 56.0, 102.0, 58.0, 38.0, 109.0, 130.0, 53.0, 137.0, 45.0, 106.0, 104.0, 42.0, 39.0, 144.0, 114.0, 128.0, 149.0, 313.0, 168.0, 182.0, 138.0, 160.0, 152.0, 124.0, 153.0, 46.0]
111